.window-controls {
    background-color: #0b0d136a;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    height: 40px;
}
.window-controls-search {
    display: flex;
}

#placeholder-iframe {
  display: grid;
  place-content: center;
}
#placeholder-iframe > h1 {
  font-size: 5rem;
  color: #1e213772;
  text-align: center;
}

.window-controls-settings {
    display: flex;
}
.button-window-control {
    background-color: #0b0d130f;
    color: rgba(255, 255, 255, 0.477);
    display: flex;
    align-items: center;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.button-window-control:hover {
    background-color: #232839;
}

.input {
    display: block;
  }
  .to-do-input {
    color: rgb(133, 198, 255);
    display: block;
    max-width: 190px;
    height: 38px;
    padding: 1em 1em;
    font-family: "Instrument Sans", sans-serif;
    border: none;
    background-color: #0b0d1358;
  }
  .to-do-input:focus {
    outline: none;
  }
  .todo-line {
    z-index: 2;
    position: absolute;
    margin-top: -2px;
    width: 216px;
    height: 2px;
    background-color: #0b0d1358;
  }
  .to-do-input:focus ~ .todo-line {
    animation: draw 0.3s ease-in-out;
    background: rgb(49, 228, 255);
  }
  @keyframes draw {
    0% {
      opacity: 0;
      width: 0px;
      filter: hue-rotate(0deg);
    }
    100% {
      opacity: 1;
      width: 200px;
      filter: hue-rotate(360deg);
    }
  }
  .input.button {
    display: flex;
    height:38px;
    padding: 0.8em 0.8em;
    align-items: center;
    background-color: #0b0d1358;
    border: none;
    margin-left: 5px;
    color: rgb(37, 100, 129);
    transform: translateX(-4px);
    cursor: pointer;
    transition: 0.5s all;
  }
  .input.button:active {
    background-color: rgb(49, 228, 255);
    transition: 0.5s all;
  }
  

#placeholder-iframe {
  height: 90vh;
  display: grid;
  place-content: center;
}